* {
  margin : 0;
}
.app {
  background-color:#fafafa;
  
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.app__header {
  background-color:white; 
  padding:10px; 
  border-bottom:5px solid gray;
  object-fit:center;
  
  justify-content: space-between;
 
   }
.app__headerImage {
  object-fit: contain;
}
.app__signup__btn > * {
  display: block !important;
  margin: 20px auto !important; 
}
.app__signup {
  display: flex;
  flex-direction: column;
 
}
.app__posts {
  padding-left:  left 10px;
  background-color:darkcyan;
  display: flex;
  justify-content: center;
}
.app__postsRight {
   margin: left 10px;
}