.ImageUpload {
     position: fixed;
       
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
   
}                                                                                                   